<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WTF-NOT FOUND</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/error.css') }}">
</head>
<body>
<div class="error-container">

    <div class="error-panel server-error error-404">
                <img src="{{ static_url('images/very_sorry.png') }}">
                <div>
                    <div class="left-panel">
                        <a class="rollback-btn" onclick="history.back()" style="">返回上一页</a>
                    </div>
                    <div class="right-panel">
                        <b>信息安全:</b><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;信息为肉，安全为骨。<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;肉无骨则不立，骨无肉则不活。
                        <br>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>